* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #b0c4de;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Start */

header {
    padding: 20px 35px;
    background-color: #b0c4de;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #4682b4
}

header a {
    text-decoration: none;
    color: #4682b4;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* Header End */

/* Hero Styles Start */
.hero {
    background-image: url(../images/heroslim.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
/* Hero Styles End */

/* Section Title Styles Start */
.section-title {
    font-size: 30px;
    border-right: 3px solid #4682b4;
    padding: 20px 15px 20px 0px;
    margin: 10px;
    text-align: right;
    min-width: 200px;
}

/* Article Styles Start */
/* Style All Article Tags */
article {
    padding: 10px;
    display: flex;
}

#aboutMeDescription {
    font-size: 24px;
}

/* Article Work Styles Start */
.work {
    flex-wrap:wrap;
}

.project1 {
    margin: 5px;
    height: 400px;
    width: 1000px;
    background-image: url(../images/Envirodashboard.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.project1 h3 a {
    color:black;
}

.project2 {
    margin: 5px;
    height: 400px;
    width: 1000px;
    background-image: url(../images/work-feelings.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project2 h3 a {
    color:black;
}

.project3 {
    margin: 5px;
    height: 300px;
    width: 600px;
    background-image: url(../images/laptopside.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project4 {
    margin: 5px;
    height: 300px;
    width: 600px;
    background-image: url(../images/laptopside.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project5 {
    margin: 5px;
    height: 300px;
    width: 600px;
    background-image: url(../images/laptopside.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.resume {
    flex-wrap: wrap;  
}

.resume div {
    height: 200px;
    width: 400px;
    background-image: url(../images/handshake.jpg);
    background-size: cover;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.resume div a {
    text-decoration: none;
    color:#b0c4de;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}

/* Article Work Styles End */

/* Footer Styles Start */

footer {
    padding: 20px 35px 20px 10px;
    background-color: #b0c4de;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    /* padding: 0; */
    font-weight: bold;
    /* margin: 0; */
    /* font-size: 36px; */
    color: #4682b4
}

footer a {
    text-decoration: none;
    color: #4682b4;
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* Footer Styles End */

@media screen and (max-width: 980p) {
    
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 575px) {

}